{
    "openapi": "3.0.1",
    "info": {
      "description": "Orkes Conductor API Server",
      "title": "Orkes Conductor API Server",
      "version": "v2"
    },
    "servers": [
      {
        "url": "https://sdkdev.orkesconductor.io",
        "description": "Generated server url"
      }
    ],
    "security": [
      {
        "api_key": []
      }
    ],
    "paths": {
      "/api/admin/cache/clear/{taskDefName}": {
        "post": {
          "operationId": "clearTaskExecutionCache",
          "parameters": [
            {
              "in": "path",
              "name": "taskDefName",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Remove execution cached values for the task",
          "tags": [
            "admin-resource"
          ]
        }
      },
      "/api/admin/consistency/verifyAndRepair/{workflowId}": {
        "post": {
          "operationId": "verifyAndRepairWorkflowConsistency",
          "parameters": [
            {
              "in": "path",
              "name": "workflowId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Verify and repair workflow consistency",
          "tags": [
            "admin-resource"
          ]
        }
      },
      "/api/admin/redisUsage": {
        "get": {
          "operationId": "getRedisUsage",
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "type": "object",
              "additionalProperties": {}
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get details of redis usage",
          "tags": [
            "admin-resource"
          ]
        }
      },
      "/api/admin/sweep/requeue/{workflowId}": {
        "post": {
          "operationId": "requeueSweep",
          "parameters": [
            {
              "in": "path",
              "name": "workflowId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Queue up all the running workflows for sweep",
          "tags": [
            "admin-resource"
          ]
        }
      },
      "/api/admin/task/{tasktype}": {
        "get": {
          "operationId": "view",
          "parameters": [
            {
              "in": "path",
              "name": "tasktype",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "start",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 0
              }
            },
            {
              "in": "query",
              "name": "count",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get the list of pending tasks for a given task type",
          "tags": [
            "admin-resource"
          ]
        }
      },
      "/api/applications": {
        "get": {
          "operationId": "listApplications",
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExtendedConductorApplication"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get all applications",
          "tags": [
            "application-resource"
          ]
        },
        "post": {
          "operationId": "createApplication",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateApplicationRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Create an application",
          "tags": [
            "application-resource"
          ]
        }
      },
      "/api/applications/key/{accessKeyId}": {
        "get": {
          "operationId": "getAppByAccessKeyId",
          "parameters": [
            {
              "in": "path",
              "name": "accessKeyId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get application id by access key id",
          "tags": [
            "application-resource"
          ]
        }
      },
      "/api/applications/{applicationId}/accessKeys/{keyId}": {
        "delete": {
          "operationId": "deleteAccessKey",
          "parameters": [
            {
              "in": "path",
              "name": "applicationId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "keyId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Delete an access key",
          "tags": [
            "application-resource"
          ]
        }
      },
      "/api/applications/{applicationId}/accessKeys/{keyId}/status": {
        "post": {
          "operationId": "toggleAccessKeyStatus",
          "parameters": [
            {
              "in": "path",
              "name": "applicationId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "keyId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Toggle the status of an access key",
          "tags": [
            "application-resource"
          ]
        }
      },
      "/api/applications/{applicationId}/roles/{role}": {
        "delete": {
          "operationId": "removeRoleFromApplicationUser",
          "parameters": [
            {
              "in": "path",
              "name": "applicationId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "role",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "tags": [
            "application-resource"
          ]
        },
        "post": {
          "operationId": "addRoleToApplicationUser",
          "parameters": [
            {
              "in": "path",
              "name": "applicationId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "role",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "tags": [
            "application-resource"
          ]
        }
      },
      "/api/applications/{id}": {
        "delete": {
          "operationId": "deleteApplication",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Delete an application",
          "tags": [
            "application-resource"
          ]
        },
        "get": {
          "operationId": "getApplication",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get an application by id",
          "tags": [
            "application-resource"
          ]
        },
        "put": {
          "operationId": "updateApplication",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrUpdateApplicationRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Update an application",
          "tags": [
            "application-resource"
          ]
        }
      },
      "/api/applications/{id}/accessKeys": {
        "get": {
          "operationId": "getAccessKeys",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get application's access keys",
          "tags": [
            "application-resource"
          ]
        },
        "post": {
          "operationId": "createAccessKey",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Create an access key for an application",
          "tags": [
            "application-resource"
          ]
        }
      },
      "/api/applications/{id}/tags": {
        "delete": {
          "operationId": "deleteTagForApplication",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete a tag for application",
          "tags": [
            "application-resource"
          ]
        },
        "get": {
          "operationId": "getTagsForApplication",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Tag"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get tags by application",
          "tags": [
            "application-resource"
          ]
        },
        "put": {
          "operationId": "putTagForApplication",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Put a tag to application",
          "tags": [
            "application-resource"
          ]
        }
      },
      "/api/auth/authorization": {
        "delete": {
          "operationId": "removePermissions",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Response"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Remove user's access over the target",
          "tags": [
            "authorization-resource"
          ]
        },
        "post": {
          "operationId": "grantPermissions",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Response"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Grant access to a user over the target",
          "tags": [
            "authorization-resource"
          ]
        }
      },
      "/api/auth/authorization/{type}/{id}": {
        "get": {
          "operationId": "getPermissions",
          "parameters": [
            {
              "in": "path",
              "name": "type",
              "required": true,
              "schema": {
                "type": "string",
                "enum": [
                  "WORKFLOW",
                  "WORKFLOW_DEF",
                  "WORKFLOW_SCHEDULE",
                  "EVENT_HANDLER",
                  "TASK_DEF",
                  "TASK_REF_NAME",
                  "TASK_ID",
                  "APPLICATION",
                  "USER",
                  "SECRET_NAME",
                  "ENV_VARIABLE",
                  "TAG",
                  "DOMAIN",
                  "INTEGRATION_PROVIDER",
                  "INTEGRATION",
                  "PROMPT",
                  "USER_FORM_TEMPLATE",
                  "SCHEMA",
                  "CLUSTER_CONFIG",
                  "WEBHOOK"
                ]
              }
            },
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get the access that have been granted over the given object",
          "tags": [
            "authorization-resource"
          ]
        }
      },
      "/api/environment": {
        "get": {
          "operationId": "getAll",
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EnvironmentVariable"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "List all the environment variables",
          "tags": [
            "environment-resource"
          ]
        }
      },
      "/api/environment/{key}": {
        "delete": {
          "operationId": "deleteEnvVariable",
          "parameters": [
            {
              "in": "path",
              "name": "key",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Delete an environment variable (requires metadata or admin role)",
          "tags": [
            "environment-resource"
          ]
        },
        "get": {
          "operationId": "get_3",
          "parameters": [
            {
              "in": "path",
              "name": "key",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get the environment value by key",
          "tags": [
            "environment-resource"
          ]
        },
        "put": {
          "operationId": "createOrUpdateEnvVariable",
          "parameters": [
            {
              "in": "path",
              "name": "key",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "text/plain": {
                "schema": {
                  "maxLength": 65535,
                  "minLength": 0,
                  "type": "string"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Create or update an environment variable (requires metadata or admin role)",
          "tags": [
            "environment-resource"
          ]
        }
      },
      "/api/environment/{name}/tags": {
        "delete": {
          "operationId": "deleteTagForEnvVar",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete a tag for environment variable name",
          "tags": [
            "environment-resource"
          ]
        },
        "get": {
          "operationId": "getTagsForEnvVar",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Tag"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get tags by environment variable name",
          "tags": [
            "environment-resource"
          ]
        },
        "put": {
          "operationId": "putTagForEnvVar",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Put a tag to environment variable name",
          "tags": [
            "environment-resource"
          ]
        }
      },
      "/api/event": {
        "get": {
          "operationId": "getEventHandlers",
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EventHandler"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get all the event handlers",
          "tags": [
            "event-resource"
          ]
        },
        "post": {
          "operationId": "addEventHandler",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventHandler"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Add a new event handler.",
          "tags": [
            "event-resource"
          ]
        },
        "put": {
          "operationId": "updateEventHandler",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventHandler"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Update an existing event handler.",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/event/execution": {
        "get": {
          "operationId": "getEventHandlersForEvent_1",
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/SearchResultHandledEventResponse"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get All active Event Handlers",
          "tags": [
            "event-execution-resource"
          ]
        }
      },
      "/api/event/execution/{eventHandlerName}": {
        "get": {
          "operationId": "getEventHandlersForEvent_2",
          "parameters": [
            {
              "in": "path",
              "name": "eventHandlerName",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "from",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ExtendedEventExecution"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get event handlers for a given event",
          "tags": [
            "event-execution-resource"
          ]
        }
      },
      "/api/event/handleIncomingEvent": {
        "post": {
          "operationId": "handleIncomingEvent",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
              "additionalProperties": {}
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Handle an incoming event",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/event/handler/": {
        "get": {
          "operationId": "test",
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/EventHandler"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get event handler by name",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/event/handler/{name}": {
        "get": {
          "operationId": "getEventHandlerByName",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/EventHandler"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get event handler by name",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/event/message": {
        "get": {
          "operationId": "getEvents",
          "parameters": [
            {
              "in": "query",
              "name": "from",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/SearchResultHandledEventResponse"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get all event handlers with statistics",
          "tags": [
            "event-message-resource"
          ]
        }
      },
      "/api/event/message/{event}": {
        "get": {
          "operationId": "getMessages",
          "parameters": [
            {
              "in": "path",
              "name": "event",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "from",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EventMessage"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get event messages for a given event",
          "tags": [
            "event-message-resource"
          ]
        }
      },
      "/api/event/queue/config": {
        "get": {
          "operationId": "getQueueNames",
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get all queue configs",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/event/queue/config/{queueType}/{queueName}": {
        "delete": {
          "operationId": "deleteQueueConfig",
          "parameters": [
            {
              "in": "path",
              "name": "queueType",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "queueName",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete queue config by name",
          "tags": [
            "event-resource"
          ]
        },
        "get": {
          "operationId": "getQueueConfig",
          "parameters": [
            {
              "in": "path",
              "name": "queueType",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "queueName",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "type": "object",
              "additionalProperties": {}
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get queue config by name",
          "tags": [
            "event-resource"
          ]
        },
        "put": {
          "deprecated": true,
          "operationId": "putQueueConfig",
          "parameters": [
            {
              "in": "path",
              "name": "queueType",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "queueName",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Create or update queue config by name",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/event/queue/connectivity": {
        "post": {
          "operationId": "testConnectivity",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectivityTestInput"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "$ref": "#/components/schemas/ConnectivityTestResult"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Test connectivity for a given queue using a workflow with EVENT task and an EventHandler",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/event/{event}": {
        "get": {
          "operationId": "getEventHandlersForEvent",
          "parameters": [
            {
              "in": "path",
              "name": "event",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "activeOnly",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": true
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/EventHandler"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get event handlers for a given event",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/event/{name}": {
        "delete": {
          "operationId": "removeEventHandlerStatus",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Remove an event handler",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/event/{name}/tags": {
        "delete": {
          "operationId": "deleteTagForEventHandler",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete a tag for event handler",
          "tags": [
            "event-resource"
          ]
        },
        "get": {
          "operationId": "getTagsForEventHandler",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "*/*": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Tag"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get tags by event handler",
          "tags": [
            "event-resource"
          ]
        },
        "put": {
          "operationId": "putTagForEventHandler",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Put a tag to event handler",
          "tags": [
            "event-resource"
          ]
        }
      },
      "/api/global_schema": {
        "post": {
          "operationId": "save_1",
          "parameters": [
            {
              "in": "query",
              "name": "newVersion",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SchemaDef"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Save schema",
          "tags": [
            "global-schema-resource"
          ]
        }
      },
      "/api/global_schema/{name}": {
        "get": {
          "operationId": "getSchemaByNameWithLatestVersion_1",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SchemaDef"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get schema by name with latest version",
          "tags": [
            "global-schema-resource"
          ]
        }
      },
      "/api/groups": {
        "get": {
          "operationId": "listGroups",
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Group"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get all groups",
          "tags": [
            "group-resource"
          ]
        }
      },
      "/api/groups/{groupId}/permissions": {
        "get": {
          "operationId": "getGrantedPermissions_1",
          "parameters": [
            {
              "in": "path",
              "name": "groupId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GrantedAccessResponse"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get the permissions this group has over workflows and tasks",
          "tags": [
            "group-resource"
          ]
        }
      },
      "/api/groups/{groupId}/users": {
        "delete": {
          "operationId": "removeUsersFromGroup",
          "parameters": [
            {
              "in": "path",
              "name": "groupId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Remove users from group",
          "tags": [
            "group-resource"
          ]
        },
        "post": {
          "operationId": "addUsersToGroup",
          "parameters": [
            {
              "in": "path",
              "name": "groupId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Add users to group",
          "tags": [
            "group-resource"
          ]
        }
      },
      "/api/groups/{groupId}/users/{userId}": {
        "delete": {
          "operationId": "removeUserFromGroup",
          "parameters": [
            {
              "in": "path",
              "name": "groupId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "userId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Remove user from group",
          "tags": [
            "group-resource"
          ]
        },
        "post": {
          "operationId": "addUserToGroup",
          "parameters": [
            {
              "in": "path",
              "name": "groupId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "userId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Add user to group",
          "tags": [
            "group-resource"
          ]
        }
      },
      "/api/groups/{id}": {
        "delete": {
          "operationId": "deleteGroup",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Response"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Delete a group",
          "tags": [
            "group-resource"
          ]
        },
        "get": {
          "operationId": "getGroup",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get a group by id",
          "tags": [
            "group-resource"
          ]
        },
        "put": {
          "operationId": "upsertGroup",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertGroupRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Create or update a group",
          "tags": [
            "group-resource"
          ]
        }
      },
      "/api/groups/{id}/users": {
        "get": {
          "operationId": "getUsersInGroup",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get all users in group",
          "tags": [
            "group-resource"
          ]
        }
      },
      "/api/human/tasks/backPopulateFullTextIndex": {
        "get": {
          "operationId": "backPopulateFullTextIndex",
          "parameters": [
            {
              "in": "query",
              "name": "100",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
              "additionalProperties": {}
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "API for backpopulating index data",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/delete": {
        "delete": {
          "operationId": "deleteTaskFromHumanTaskRecords",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "If the workflow is disconnected from tasks, this API can be used to clean up (in bulk)",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/delete/{taskId}": {
        "delete": {
          "operationId": "deleteTaskFromHumanTaskRecords_1",
          "parameters": [
            {
              "in": "path",
              "name": "taskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "If the workflow is disconnected from tasks, this API can be used to clean up",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/getTaskDisplayNames": {
        "get": {
          "operationId": "getTaskDisplayNames",
          "parameters": [
            {
              "in": "query",
              "name": "searchType",
              "required": true,
              "schema": {
                "type": "string",
                "enum": [
                  "ADMIN",
                  "INBOX"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get list of task display names applicable for the user",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/search": {
        "post": {
          "operationId": "search",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanTaskSearch"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HumanTaskSearchResult"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Search human tasks",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/update/taskRef": {
        "post": {
          "operationId": "updateTaskOutputByRef",
          "parameters": [
            {
              "in": "query",
              "name": "workflowId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "taskRefName",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "complete",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            },
            {
              "description": "Populate this value if your task is in a loop and you want to update a specific iteration. If its not in a loop OR if you want to just update the latest iteration, leave this as empty",
              "in": "query",
              "name": "iteration",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
              "additionalProperties": {}
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Update task output, optionally complete",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/{taskId}": {
        "get": {
          "operationId": "getTask_1",
          "parameters": [
            {
              "in": "path",
              "name": "taskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "withTemplate",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HumanTaskEntry"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get a task",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/{taskId}/claim": {
        "post": {
          "operationId": "claimTask",
          "parameters": [
            {
              "in": "path",
              "name": "taskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "overrideAssignment",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            },
            {
              "in": "query",
              "name": "withTemplate",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HumanTaskEntry"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Claim a task by authenticated Conductor user",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/{taskId}/conductorTask": {
        "get": {
          "operationId": "getConductorTaskById",
          "parameters": [
            {
              "in": "path",
              "name": "taskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get Conductor task by id (for human tasks only)",
          "tags": [
            "human-task-resource"
          ]
        }
      },
      "/api/human/tasks/{taskId}/externalUser/{userId}": {
        "post": {
          "operationId": "assignAndClaim",
          "parameters": [
            {
              "in": "path",
              "name": "taskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "userId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "overrideAssignment",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            },
            {
              "in": "query",
              "name": "withTemplate",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HumanTaskEntry"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Claim a task to an external user",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/{taskId}/reassign": {
        "post": {
          "operationId": "reassignTask",
          "parameters": [
            {
              "in": "path",
              "name": "taskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HumanTaskAssignment"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Reassign a task without completing it",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/{taskId}/release": {
        "post": {
          "operationId": "releaseTask",
          "parameters": [
            {
              "in": "path",
              "name": "taskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Release a task without completing it",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/{taskId}/skip": {
        "post": {
          "operationId": "skipTask",
          "parameters": [
            {
              "in": "path",
              "name": "taskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "reason",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "If a task is assigned to a user, this API can be used to skip that assignment and move to the next assignee",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/tasks/{taskId}/update": {
        "post": {
          "operationId": "updateTaskOutput",
          "parameters": [
            {
              "in": "path",
              "name": "taskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "complete",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
              "additionalProperties": {}
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Update task output, optionally complete",
          "tags": [
            "human-task"
          ]
        }
      },
      "/api/human/template": {
        "get": {
          "operationId": "getAllTemplates",
          "parameters": [
            {
              "in": "query",
              "name": "name",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "version",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/HumanTaskTemplate"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "List all user form templates or get templates by name, or a template by name and version",
          "tags": [
            "user-form",
            "human-task"
          ]
        },
        "post": {
          "operationId": "saveTemplate",
          "parameters": [
            {
              "in": "query",
              "name": "newVersion",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanTaskTemplate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HumanTaskTemplate"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Save user form template",
          "tags": [
            "user-form",
            "human-task"
          ]
        }
      },
      "/api/human/template/bulk": {
        "post": {
          "operationId": "saveTemplates",
          "parameters": [
            {
              "in": "query",
              "name": "newVersion",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HumanTaskTemplate"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/HumanTaskTemplate"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Save user form template",
          "tags": [
            "user-form",
            "human-task"
          ]
        }
      },
      "/api/human/template/{humanTaskId}": {
        "get": {
          "operationId": "getTemplateByTaskId",
          "parameters": [
            {
              "in": "path",
              "name": "humanTaskId",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HumanTaskTemplate"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get user form by human task id",
          "tags": [
            "user-form",
            "human-task"
          ]
        }
      },
      "/api/human/template/{name}": {
        "delete": {
          "operationId": "deleteTemplateByName",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete all versions of user form template by name",
          "tags": [
            "user-form",
            "human-task"
          ]
        }
      },
      "/api/human/template/{name}/tags": {
        "delete": {
          "operationId": "deleteTagForUserFormTemplate",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete a tag for template name",
          "tags": [
            "user-form-template-resource"
          ]
        },
        "get": {
          "operationId": "getTagsForUserFormTemplate",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Tag"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get tags by template name",
          "tags": [
            "user-form-template-resource"
          ]
        },
        "put": {
          "operationId": "putTagForUserFormTemplate",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Put a tag to template name",
          "tags": [
            "user-form-template-resource"
          ]
        }
      },
      "/api/human/template/{name}/{version}": {
        "delete": {
          "operationId": "deleteTemplatesByNameAndVersion",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "version",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete a version of form template by name",
          "tags": [
            "human-task"
          ]
        },
        "get": {
          "operationId": "getTemplateByNameAndVersion",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "version",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/HumanTaskTemplate"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get user form template by name and version",
          "tags": [
            "user-form",
            "human-task"
          ]
        }
      },
      "/api/integrations/": {
        "get": {
          "operationId": "getAllIntegrations",
          "parameters": [
            {
              "in": "query",
              "name": "category",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "activeOnly",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": true
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Integration"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get all Integrations",
          "tags": [
            "integration-resource"
          ]
        },
        "post": {
          "operationId": "saveAllIntegrations",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Save all Integrations",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/all": {
        "get": {
          "operationId": "getProvidersAndIntegrations",
          "parameters": [
            {
              "in": "query",
              "name": "type",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "activeOnly",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": true
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get Integrations Providers and Integrations combo",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/def": {
        "get": {
          "operationId": "getIntegrationProviderDefs",
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IntegrationDef"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get Integration provider definitions",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/def/register": {
        "post": {
          "operationId": "registerIntegration",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntegrationDef"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "upsert an integration definition",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/def/{name}": {
        "get": {
          "operationId": "getIntegrationDef",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IntegrationDef"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get an integration definition",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/eventStats/{type}": {
        "post": {
          "operationId": "recordEventStats",
          "parameters": [
            {
              "in": "query",
              "name": "type",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventLog"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Record Event Stats",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/llm/{name}/token": {
        "get": {
          "operationId": "getTokenLimit",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TokenLimit"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get the Token Limit for an integration",
          "tags": [
            "LLM"
          ]
        },
        "post": {
          "operationId": "updateTokenLimit",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenLimit"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Register Token Limit for an integration",
          "tags": [
            "LLM"
          ]
        }
      },
      "/api/integrations/llm/{name}/token/history": {
        "get": {
          "operationId": "getTokenUsage",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "model",
              "required": false,
              "schema": {
                "type": "string",
                "default": "*"
              }
            },
            {
              "in": "query",
              "name": "lookUpWindow",
              "required": false,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 31
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TokenUsageLog"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get Token Usage by Integration provider",
          "tags": [
            "LLM"
          ]
        }
      },
      "/api/integrations/provider": {
        "get": {
          "operationId": "getIntegrationProviders",
          "parameters": [
            {
              "in": "query",
              "name": "category",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "activeOnly",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": true
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Integration"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get all Integrations Providers",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/provider/{integration_provider}/integration/{integration_name}/prompt": {
        "get": {
          "operationId": "getPromptsWithIntegration",
          "parameters": [
            {
              "in": "path",
              "name": "integration_provider",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "integration_name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageTemplate"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get the list of prompt templates associated with an integration",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/provider/{integration_provider}/integration/{integration_name}/prompt/{prompt_name}": {
        "post": {
          "operationId": "associatePromptWithIntegration",
          "parameters": [
            {
              "in": "path",
              "name": "integration_provider",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "integration_name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "prompt_name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Associate a Prompt Template with an Integration",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/provider/{name}": {
        "delete": {
          "operationId": "deleteIntegrationProvider",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete an Integration Provider",
          "tags": [
            "integration-resource"
          ]
        },
        "get": {
          "operationId": "getIntegrationProvider",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get Integration provider",
          "tags": [
            "integration-resource"
          ]
        },
        "post": {
          "operationId": "saveIntegrationProvider",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Create or Update Integration provider",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/provider/{name}/integration": {
        "get": {
          "operationId": "getIntegrationApis",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "activeOnly",
              "required": false,
              "schema": {
                "type": "boolean",
                "default": true
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IntegrationApi"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get Integrations of an Integration Provider",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/provider/{name}/integration/all": {
        "get": {
          "operationId": "getIntegrationAvailableApis",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get Integrations Available for an Integration Provider",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/provider/{name}/integration/{integration_name}": {
        "delete": {
          "operationId": "deleteIntegrationApi",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "integration_name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete an Integration",
          "tags": [
            "integration-resource"
          ]
        },
        "get": {
          "operationId": "getIntegrationApi",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "integration_name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IntegrationApi"
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get Integration details",
          "tags": [
            "integration-resource"
          ]
        },
        "post": {
          "operationId": "saveIntegrationApi",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "integration_name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationApiUpdate"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Create or Update Integration",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/provider/{name}/integration/{integration_name}/tags": {
        "delete": {
          "operationId": "deleteTagForIntegration",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "integration_name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete a tag for Integration",
          "tags": [
            "integration-resource"
          ]
        },
        "get": {
          "operationId": "getTagsForIntegration",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "integration_name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Tag"
                    }
                  }
                }
              },
              "description": "OK"
            }
          },
          "summary": "Get tags by Integration",
          "tags": [
            "integration-resource"
          ]
        },
        "put": {
          "operationId": "putTagForIntegration",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "in": "path",
              "name": "integration_name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Put a tag to Integration",
          "tags": [
            "integration-resource"
          ]
        }
      },
      "/api/integrations/provider/{name}/tags": {
        "delete": {
          "operationId": "deleteTagForIntegrationProvider",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "summary": "Delete a tag for Integration Provider",
          "tags": [
            "integration-resource"
          ]
        },
        "get": {
          "operationId": "getTagsForIntegrationProvider",
          "parameters": [
            {
              "in": "path",
              "name": "name",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
[...]
